---
layout: base.njk
title: Archive
permalink: /archive/index.html
---

<h1>Archive</h1>
<ul class="archive">
  {% for post in collections.posts %}
    <li>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      <span class="dim">— {{ post.date.toDateString() }}</span>
    </li>
  {% endfor %}
</ul>
